[submodule "obelisk-asset"]
	path = asset
	url = git@github.com:obsidiansystems/obelisk-asset.git
[submodule "obelisk-font-awesome"]
	path = font-awesome
	url = git@github.com:obsidiansystems/obelisk-font-awesome.git
[submodule "obelisk-https"]
	path = https
	url = git@github.com:obsidiansystems/obelisk-https
[submodule "obelisk-snap"]
	path = snap
	url = git@github.com:obsidiansystems/obelisk-snap.git
[submodule "obelisk-example"]
	path = example
	url = git@github.com:obsidiansystems/obelisk-example.git
