**/dist
**/.cabal-sandbox
**/cabal.sandbox.config
result
result-*
*.o
*.hi
TAGS
tags
ctags
dist-newstyle
cabal.project.local
.ghc.environment.*
**/ghcid-output.txt

# HLS specific files
lib/cabal.project
lib/cabal.project.local
