[submodule "obelisk-asset"]
	path = obelisk-asset
	url = git@github.com:obsidiansystems/obelisk-asset.git
[submodule "obelisk-asset-th"]
	path = obelisk-asset-th
	url = git@github.com:obsidiansystems/obelisk-asset-th.git
