dist
dist-newstyle
dist-js
dist-wasm
cabal.project.local
*.o
*.hi
backend/data/*
!backend/data/.keep
frontend/data/*
!frontend/data/.keep
static/generated/data/*
!static/generated/data/.keep
frontend.jsexe
frontend/frontend.jsexe
frontend.jsexe.assets
static/result
result
